/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html{
    height:100%;
}
body {
    font-size: 1em;
    line-height: 1.4;
    height:100%;
    background:#212020 url(../img/hexabump_@2X.png);
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a{
    text-decoration:none;
    color:#444;
}
body{
    font-family: 'Dosis', sans-serif;
    color:#444;
    overflow-x:hidden;
}
.adelante{
    opacity:1;
    z-index:999;
    top:0;
    display:inline-block;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
#menux{
    width:250px;
    height:100%;
    margin-left:-250px;
    padding-right:10px;
    background:#fff;
    position:fixed;
    opacity:0;
    display:inline-block;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
    z-index:999;
}
#fack{
    font-size:0.8em;
    margin-top:50px;
}
#twwi{
    font-size:0.8em;
}
#menux nav{
    display:inline-block;
    width:100%;
    margin:90px 0 0;
    
}
#menux nav ul li{
    padding:10px 50px;
    cursor:pointer;
    
}
#menux nav ul a:hover{
    color:#fff;
}
#menux ul li:hover{
    background:#ffe11a;
    color:#fff;
}
#hov{
    position:relative;
    width:30px;
    height:26px;
    top:10px;
    display:none;
    left:20px;
}
#hov2{
    position:relative;
    width:30px;
    height:26px;
    display:block;
    z-index:999;
    opacity:0;
    top:10px;
    left:20px;
}
.lineas{
    width:100%;
    position:absolute;
    height:6px;
    background:#fff;
}
.lcero{
    top:0;
}
.luno{
    top:10px;
}
.ldos{
    bottom:0;
}
#cerrar{
    background:#efefef;
    width:10px;
    height:10px;
}
#cerrara{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
}
#cerrara:hover{
    background:rgba(255,255,255,0.6) url(../img/x.png);
}


#cerrarc{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    top:20px;
    right:20px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
}
#cerrarw{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
    z-index:100;
}
#cerrarmas{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
    z-index:100;
}
#envio{
    box-shadow:none;
    width:50% !important;
    background:#ffe11a;
    border:none;
    color:#fff;
    float:right;
    margin-right:-5px;
    padding:10px 0;
    cursor:pointer;
}
#cerrarw:hover{
    background:rgba(255,255,255,0.6) url(../img/x.png);
}
#cerrarweb{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    top:10px;
    right:35px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
    z-index:100;
}
#cerrarilus{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    top:10px;
    right:35px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
    z-index:100;
}
#cerrarbrand{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    top:10px;
    right:35px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
    z-index:100;
}
#cerraredit{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    top:10px;
    right:35px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
    z-index:100;
}
.cerrarwebxx{
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.4) url(../img/x.png);
    position:absolute;
    position:absolute;
    top:-50px;
    right:0;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
    z-index:100;
}
#cerrarweb:hover{
    background:rgba(255,255,255,0.6) url(../img/x.png) no-repeat;
}
#cerrarc:hover{
    background:rgba(255,255,255,0.6) url(../img/x.png);
}
.ocultos{
    top:-1px;
    width:60%;
    position:absolute;
    z-index:997;
    left:23%;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
.ocultospor{
    width:20%;
    top:0;
    height:100%;
    display:inline-block;
    background:rgba(0,0,0,0.4);
    position:fixed;
    z-index:997;
    right:-20%;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
.ocultos2{
    opacity:0;
    top:-1px;
    width:100% !important;
    overflow:hidden;
    height:100%;
    background:rgba(0,0,0,0.8);
    position:fixed;
    z-index:99;
    overflow-y:scroll;
    color:#fff;
    left:0;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
#cont{
    width:100%;
    height:100%;
    position:relative;
}

.menu2{
    transform:translateX(250px);
    -webkit-transform:translateX(250px);
    -moz-transform:translateX(250px);
    -ms-transform:translateX(250px);
}
.contport{
    width:80%;
    margin:100px auto 0;
    position:relative;
}
#imac{
    width:503px;
    display:inline-block;
    margin-bottom:40px;
}
#textopor{
    width:48%;
    margin:0 0 0 40px;
    display:inline-block;
    vertical-align:top;
}
#textopor h1{
    font-family: 'Roboto', sans-serif;
    font-weight:800;
    text-shadow:0 0 25px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1);
}
#centexpor{
    margin:20px 40px 30px;
}
#unow{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/2.jpg);
    background-repeat:no-repeat;
}#unow{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/2.jpg);
    background-repeat:no-repeat;
}
#unoi{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/1i.jpg);
    background-repeat:no-repeat;
}
#cincow{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/6.jpg);
}
#seisw{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/6w.jpg);
}
#sieteb{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/7b.jpg);
}
#seisb{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/sieteb.jpg);
}
#cincob{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/5b.jpg);
}
#cuatrob{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/4b.jpg);
}
#tresb{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/3b.jpg);
}
#dosb{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/2b.jpg);
}
#unob{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/1b.jpg);
}
#seise{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/6e.jpg);
}
#cincoe{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/5e.jpg);
}
#cuatroe{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/4e.jpg);
}
#trese{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/3e.jpg);
}
#dose{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/2e.jpg);
}
#unoe{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/1e.jpg);
}
#cuatrow{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/5.jpg);
}

#cuatroi{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/4i.jpg);
}

#tresw{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/4.jpg);
}
#tresi{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/3i.jpg);
}
#dosw{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/3.jpg);
}

#dosi{
    width:180px;
    height:180px;
    margin:5px;
    display:inline-block;
    background:url(../img/2i.jpg);
}
.muestra{
    width:190px;
    height:190px;
    display:inline-block;
    margin:10px;
    padding:10px;
    background:rgba(0,0,0,0.1);
    vertical-align:top;
    cursor:pointer;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
.contilus{
    height:96%;
    margin-top:20px;
    overflow-y:scroll;
}
.muestra:hover{
   background:#fff;
}
.muestra div{
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
.muestra:hover > div{
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.mover{
    transform:translateY(70px);
    -webkit-transform:translateY(70px);
    -moz-transform:translateY(70px);
    -ms-transform:translateY(70px);
}
.desaparecer{
    display:none;
}
.moverder{
    right:0;
}
.reducon{
    width:90%;
}
.aparecer{
    z-index:999;
    opacity:1;
    display:inline-block;
}
#conta{
    margin-bottom:100px;
    color:#fff;
    display:inline-block;
}
#mapa{
    width:100%;
    height:300px;
}
#contc{
    text-align:center;
    margin-bottom:100px;
    padding-bottom:60px;
}
#contw{
    position:relative;
    height:100%;
}
.contweb{
    height:96%;
    margin-top:20px;
    overflow-y:scroll;
}
.contbran{
    height:96%;
    margin-top:20px;
    overflow-y:scroll;
}
.contedit{
    height:96%;
    margin-top:20px;
    overflow-y:scroll;
}
#centrar{
    width:90%;
    margin:40px auto 0;
}
#imagena{
    width:100%;
    height:220px;
    background:url(../img/0.png);
    position:relative;
}
#fotoc{
    width:180px;
    height:180px;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.2);
    border-radius:50%;
    border:8px solid #fff;
    background:url(../img/foto.jpg);
    position:absolute;
    top:0;
    left:-10px;
    cursor:pointer;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
#fotoc:hover{
    box-shadow:0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 25px rgba(255, 255, 255, 0.9);
}
#social{
    width:25%;
    height:60px;
    position:relative;
    top:70px;
    left:24%;
}
#textoa{
    margin:40px auto 90px;
}
#linea{
    text-align:left;
    width:100%;
    font-size:2.4em;
    color:#fff;
}

#linea span{
    margin:0 0 0 60px;
}
#textoc{
    width:40%;
    display:inline-block;
    margin:-10px 0 0;
}
#textoc form{
    width:100%;
    margin:10px 0 0;
}
#textoc form span{
    display:block;
    margin-bottom:10px;
}
#textoc form input, textarea{
    display:block;
    width:100%;
    padding:5px;
    margin-bottom:20px;
    height:40px;
    border:1px solid #efefef;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
#textoc form input:hover, textarea:hover{
    box-shadow:inset 1px 1px 2px rgba(0,0,0,0.2);
}
#textoc form textarea{
    height:100px;
}

.sociales{
    width:0px;
    height:50px;
    display:inline-block;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
.sociales:hover{
    opacity:0.7;
}
.socialesg{
    width:50px !important;
}
#facebook{
    background:url(../img/facebook.png);
    margin-left:20px;
}
#twitter{
    background:url(../img/twitter.png);
    margin-left:-5px;
}
.primera{
    width:100%;
    height:150px;
    position:relative;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
.segunda{
    vertical-align:top;
    width:49%;
    height:150px;
    display:inline-block;
    position:relative;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
.segunda span{
    position:absolute;
    color:#fff;
    text-shadow:0 0 25px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
    font-weight:800;
    font-size:2.3em;
    bottom:30px;
    left:30px;
    opacity:0.9;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
}
.segunda span a{
    color:#fff;
}
.segunda:hover > span{
    opacity:1;
    font-size:2.5em;
}
.primera span{
    position:absolute;
    color:#fff;
    text-shadow:0 0 25px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
    font-weight:800;
    font-size:2.3em;
    bottom:30px;
    left:30px;
    opacity:0.9;
}
.primera:hover > span{
    opacity:1;
    font-size:2.5em;
}
.agrandar{
    height:200px;
    z-index:99;
}
#uno{
    background:transparent;
}
#dos{
    background:transparent;
}
#tres{
    background:transparent;
}
.reducir{
    height:150px;
}
.primera:hover > .sombra{
    opacity:1;
}
.sombra{
    opacity:0;
    width:40%;
    height:100%;
    position:absolute;
    right:0;
}
.sombra:before{
    box-shadow:1px 20px 15px rgba(0,0,0,0.9);
    position:absolute; 
    bottom:13px; 
    left:5px;
    width:97%;
    height:10%;
    z-index:-99;
    content:"";
}
.sombra:before{
     transform:rotate(3deg); 
    -webkit-transform:rotate(3deg); 
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg); 
}
.pinfo{
    width:100%;
    height:100%;
    position:absolute;
    z-index:999;
    background:#fff;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
.boton{
    padding:5px 20px;
    background:#ffe11a;
    font-size:0.8em;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    margin:0 0 0 45px;
}
.boton:hover{
    opacity:0.7;
}
.pinfo:after, .pinfo:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pinfo:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 15px;
	top: 80%;
	margin-top: -15px;
}
.pinfo article{
    margin:45px;
    font-size:0.9em;
}
.primera:hover >.pinfo{
    opacity:1;
}
#tapar{
    width:100%;
    height:100%;
    z-index:999;
    position:absolute;
    background:#000;
}
#ilus{
    background:rgba(0,0,0,0.4);
}
#hov{
    z-index:999;
    cursor:pointer;
}
#edit{
    background:rgba(0,0,0,0.2);
}
#branding{
     background:rgba(0,0,0,0.4);
    margin-bottom:140px;
}
#web{
    background:rgba(0,0,0,0.2);
}
.clasemenu{
    top:0 !important;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
}
#menu2{
    position:absolute;
    top:-60px;
    width:100%;
    background:#fff;
    text-align:center;
    padding:15px 0;
    z-index:999;
}
#menu2 ul li{
    display:inline;
    padding:10px 20px;
    cursor:pointer;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media(max-width:768px){
#menux{
    display:none;
}
#hov{
    display:block;
}
#hov2{
    display:none;
}
}
@media(max-width:480px){
.ocultos{
    left:3%;
}
.primera:hover > span{
    opacity:1;
    font-size:1.5em;
}
.primera span{
    bottom:27px;
    font-size:2em;
    left:15px;
}
#cerrarw{
    display:none;
}
.sombra{
    width:50%;
}
.moverder{
    width:60%;
    z-index:999;
    box-shadow:0 0 15px rgba(0,0,0,0.4);
}
#uno{
    width:94%;
    padding:0;
    margin:50px auto 0;
}
#ocho{
    padding:0;
    left:20px;
    margin:50px auto 0;
    width:90%;
}
#textoc{
    width:60%;
}
#dos{
    width:94%;
    padding:0;
    margin:50px auto 0;
}
#tres{
    width:94%;
    padding:0;
    margin:50px auto 0;
}
#fotoc{
    width:130px;
    height:130px;
    top:0px;
    left:29%;
}

#imagena{
    background:none;
    height:150px;
}
#social{
    width:35%;
    top:50px;
    left:63%;
}
#hov{
    display:block;
}
#imac{
    width:98%;
    display:block;
}
.segunda{
    display:block;
    width:100%;
}
#cerrarweb{
    width:200px;
    height:50px;
    background:rgba(255,255,255,0.5) url(../img/x.png) no-repeat;
    background-position:10px 10px;
    top:10px;
    right:48px;
}
.cerrarwebxx{
    width:50px;
    height:50px;
    background:rgba(255,255,255,0.4) url(../img/x.png) no-repeat;
    position:absolute;
    top:-70px;
    right:0;
    background-position:10px 10px;
    cursor:pointer;
    transition:all linear 0.3s;
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -ms-transition:all linear 0.3s;
    z-index:100;
}
#cerrara{
display:none;
}
#textoa{
    width:86%;
}
#cerrarweb:hover{
    background-position:10px 10px;
}
.muestra:first-child{
    margin-top:40px;
}
#textopor{
    display:block;
    width:98%;
    margin:0 auto;
}
#hov2{
    display:none;
}
#menux{
    display:none;
}
.boton{
    margin:0 0 0 45px;
    padding:10px 30px;
}
.pinfo article{
    width:60%;
    margin:18px 0 40px 45px;
}
}
@media(max-width:320px){    
#menux{
    display:none;
}
#cerrarweb{
    width:120px;
    height:50px;
    background:rgba(255,255,255,0.5) url(../img/x.png) no-repeat;
    background-position:10px 10px;
    top:10px;
    right:30px;
}
.sombra{
    width:45%;
}
.pinfo article{
    width:80%;
    margin:18px 0 30px 18px;
}
.primera:hover > span{
    opacity:1;
    font-size:1.2em;
}
.primera span{
    bottom:27px;
    font-size:1.6em;
    left:15px;
}

.boton{
    margin:0 0 0 30px;
    padding:10px 30px;
}
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
